
   <div class="row">
  {{#each randomBeers}}
  <div class="container">
    <img src="{{image_url}}" alt="{{name}}">
  <h4>{{tagline}}</h4>
  <p>{{description}}</p> 
  <h4>{{food_pairing}}</h4> 
  <p>{{brewers_tips}}</p> 
  </div>
  {{/each}}
  </div>